@import 'styles/variables';

.sidebar {
  z-index: 1;
  position: fixed;
  right: 15px;
  bottom: 15px;
  width: 300px;
  background: $colorMain;
  border-radius: 10px;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.7);
  color: $colorTextMain;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebarTitle {
  padding: 20px 0;
  width: 90%;
  border-bottom: 1px solid #fff;
  text-align: center;
  font-size: $xxlFontSize;
}

.sidebarButtons {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
  width: 100%;
}

.sidebarButton {
  padding: 5px 10px;
  border-radius: 25px;
  transition: .2s;
  cursor: pointer;
}

.sidebarButtonKnownPref {
  border: 2px solid $colorThree;

  &:hover {
    background: rgba($colorThree, 0.2);
  }

  &:active {
    background: rgba($colorThree, 0.3);
  }
}

.sidebarButtonLocalPref {
  border: 2px solid $colorFour;

  &:hover {
    background: rgba($colorFour, 0.2);
  }

  &:active {
    background: rgba($colorFour, 0.3);
  }
}

.sidebarButtonNegative {
  border: 2px solid $colorTextErrorSecondary;

  &:hover {
    background: rgba($colorTextError, 0.2);
  }

  &:active {
    background: rgba($colorTextError, 0.3);
  }
}
