$colorMain: #101010;
$colorSecondary: #7a8ffa;
$colorSecondaryInactive: #9aa5e0;
$colorSecondaryHover: #6b75ff;
$colorThree: #fae57a;
$colorFour: #7afae5;

$colorTextMain: #ffffff;
$colorTextSecond: #ebebeb;
$colorTextError: #f67e96;
$colorTextErrorSecondary: #c23652;
$colorTextSuccess: #4bc958;
$colorTextSuccessSecondary: #22952d;

$colorBackgroundError: #e2b4ba;
$colorBackgroundSuccess: #b1e5b6;

$colorShadowMain: #ffffff;

$noteFontSize: 10px;
$mediumNoteFontSize: 11px;
$xxsFontSize: 12px;
$xsFontSize: 14px;
$smallFontSize: 16px;
$mediumFontSize: 18px;
$largeFontSize: 20px;
$xlFontSize: 22px;
$xxlFontSize: 24px;

$smallTitleFontSize: 46px;
$bigTitleFontSize: 72px;
