$colorBackgroundMainBlue: #1168f1;

$noteFontSize: 10px;
$mediumNoteFontSize: 11px;
$xxsFontSize: 12px;
$xsFontSize: 14px;
$smallFontSize: 16px;
$mediumFontSize: 18px;
$largeFontSize: 20px;
$xlFontSize: 22px;
$xxlFontSize: 24px;

$smallTitleFontSize: 46px;
$bigTitleFontSize: 72px;
