@import 'styles/variables';

.button {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 20px 15px;
  font-size: $mediumFontSize;
  border-radius: 10px;
  border: none;
  background: $colorSecondary;
  color: $colorTextMain;
  transition: .2s;

  &:hover {
    background: $colorSecondaryHover;
  }
}
